<% content_for :title, "New Instructor" %>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<%= render 'form' %>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</body>
