<h1>Editing recurring_available_hour</h1>

<%= render 'form' %>

<%= link_to 'Show', instructor_recurring_available_hour_path(@instructor, @recurring_available_hour) %> |
<%= link_to 'Back', instructor_recurring_available_hours_path(@instructor) %>
