<div id="footer" class="container-brand-dark footer-surround footer-container">
  <hr>
  <div class="text-center center-block">
    <br />
    <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x"></i></a>
    <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x"></i></a>
    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x"></i></a>
    <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x"></i></a>
    <div id="copyright" style="margin-top: 20px">
      © Apollo-Millennium LLC, made with love in Provence.
    </div>
  </div>
</div>