<div id="footer" class="container-brand-dark footer-surround footer-container">
    <hr class="footer-divider row-space-top-8 row-space-4 hide-phone">
    <div class="social-media text-center">
      <h5 class="row-space-4 hide-phone">Join Us On</h5>
      <ul class="unstyled list-layout list-inline">
        <li>
          <a href="//www.facebook.com/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="//twitter.com/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="//www.facebook.com/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-wechat"></i>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/company/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="http://www.pinterest.com//" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
        <li>
          <a href="http://www.youtube.com/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
      <div id="copyright" style="margin-top: 20px">
        © Apollo-Millennium LLC
      </div>
    </div>
</div>