<div id="footer" class="container-brand-dark footer-surround footer-container">
  <div class="footer-container container page-container page-container-responsive">
    <div class="row row-condensed">
      <div class="span2 col-md-2">
        <div class="language-curr-picker clearfix">
          <div class="select select-large select-block row-space-2">
            <select class="selectpicker language-selector">
              <option value="en" selected="">English</option>
              <option value="es">Español</option>
              <option value="fr">Français</option>
              <option value="it">Italiano</option>
              <option value="nl">Nederlands</option>
              <option value="zh">中文 (简体)</option>
              <option value="zh-TW">中文 (繁體)</option>
              <option value="ja">日本語</option>
              <option value="ko">한국어</option>
            </select>
          </div>
        </div>
      </div>
      <div class="span3 col-md-3 offset1 col-md-offset-1 hide-phone">
        <h5>Company</h5>
        <ul class="unstyled list-layout">
          <li><a href="/about/about-us" class="link-contrast">About</a></li>
          <li><a href="/jobs" class="link-contrast">Jobs</a></li>
          <li><a href="/press/news" class="link-contrast">Press</a></li>
          <li><a href="http://blog..com" class="link-contrast">Blog</a></li>
          <li><a href="/help" class="link-contrast">Help</a></li>
          <li><a href="/policies" class="link-contrast">Policies</a></li>
          <li><a href="/disaster-response" class="link-contrast">Disaster Response</a></li>
          <li><a href="/terms" class="link-contrast">Terms &amp; Privacy</a></li>
        </ul>
      </div>
      <div class="span3 col-md-3 hide-phone">
        <h5>Discover</h5>
        <ul class="unstyled list-layout">
          <li><a href="/trust" class="link-contrast">Trust &amp; Safety</a></li>
          <li><a href="/invite?r=6" class="link-contrast">Invite Friends</a></li>
          <li><a href="/wishlists/_picks" class="link-contrast">Airbnb Picks</a></li>
          <li><a href="/mobile" class="link-contrast">Mobile</a></li>
          <li><a href="https://www.airbnbnyc.com" class="link-contrast">Support NYC</a></li>
          <li><a href="/sitemaps" class="link-contrast">Site Map</a></li>
        </ul>
      </div>
      <div class="span3 col-md-3 hide-phone">
        <h5>Stories</h5>
        <ul class="unstyled list-layout">
          <li><a href="/info/why_host" class="link-contrast">Blog</a></li>
          <li><a href="/hospitality" class="link-contrast">Github</a></li>
          <li><a href="/help/responsible-hosting" class="link-contrast">Twitter</a></li>
          <li><a href="/stories" class="link-contrast">Wechat</a></li>
        </ul>
      </div>
    </div>
    <hr class="footer-divider row-space-top-8 row-space-4 hide-phone">
    <div class="social-media text-center">
      <h5 class="row-space-4 hide-phone">Join Us On</h5>
      <ul class="unstyled list-layout list-inline">
        <li>
          <a href="//www.facebook.com/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="//twitter.com/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="//www.facebook.com/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-wechat"></i>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/company/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="http://www.pinterest.com//" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-pinterest"></i>
          </a>
        </li>
        <li>
          <a href="http://www.youtube.com/" class="link-contrast footer-icon-container" target="_blank">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
      </ul>
      <div id="copyright" style="margin-top: 20px">
        © Apollo-Millennium LLC
      </div>
    </div>
  </div>
</div>