<main class="welcome-body" role="main">
<div class="container">
	<div class="row">
		<div class="welcome-title col-md-12">
			Your Own Private Yoga Coach
		</div>
		<div class="welcome-subtitle col-md-12">
      Everyday Everywhere for Everyone
		</div>
		<div class="icon-image-wrapper">
			<%= image_tag "zen.jpeg", :class => "icon-image" %>
		</div>
	</div>
	<div class="row welcome-date-time">
  <div class="col-md-2"></div>
    <div class="col-md-3 style-wrapper no-padding">
      <select class="selectpicker" data-live-search="true" data-width="100%" multiple title="All Styles">
        <option>Iyengar</option>
        <option>Ashtanga Vinyasah</option>
        <option>Hatha</option>
        <option>Raja</option>
        <option>Bikram</option>
      </select>
    </div>
    <div class="col-md-3 level-wrapper no-padding">
      <select class="selectpicker" data-live-search="true" data-width="100%" multiple title="All Levels">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-md-3 details-list no-padding">
      <form action="/search">
        <input style="display:none" type="text" name="date" id="date-value" />
        <input style="display:none" type="text" name="from" id="from-value" />
        <input style="display:none" type="text" name="to" id="to-value" />
        <input style="display:none" type="text" name="locationname" id="location-value" />
        <input style="display:none" type="text" name="style" id="style-value" />
        <input style="display:none" type="text" name="level" id="level-value" />
        <input style="display:none" class="form-control" name="location" type="text"></input>
        <div class="btn-group">
          <input type="submit" class="btn btn-default" value="Search" >
          <a class="calendar-btn btn btn-default">
            <i class="fa fa-calendar fa-3"></i>
          </a>
          <a class="location-btn btn btn-default">
            <i class="fa fa-location-arrow fa-3"></i>
          </a>
        </div>
      </form>
    </div>
	</div>

  <div class="row sub-containers date-picker-container">
    <div class="col-md-2"></div>
    <div class="col-md-9 no-padding">
      <div class="date-picker" data-date="2014/09/02">
        <div class="date-container pull-left">
          <h4 class="weekday">Tuesday</h4>
          <h2 class="date">September 2nd</h2>
          <h4 class="year pull-right">2014</h4>
        </div>
        <span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left"></span>
        <span data-toggle="datepicker" data-type="add" class="fa fa-angle-right"></span>

        <span data-toggle="calendar" data-show="false" class="fa fa-calendar"></span>
      </div>
      <div class="input-group date" style="display:none">
        <input type="text" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
  </div>


  <div class="row sub-containers location-picker-container">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div>
        <input type="text" class="search-location form-control" placeholder="Search location" />
      </div>
      <div id="geomap" style="z-index:999"></div>
    </div>
  </div>

  <div class="row welcome-img">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="text-align:center">
      <%= image_tag "carousel/yoga3.jpg", :class => "wide-image", :style => "width:80%" %>
    </div>
    <div class="col-md-1"></div>
  </div>

</div>

</main>


<script type="text/javascript">

	function addEvent(element, event, fn) {
		if (element.addEventListener)
			element.addEventListener(event, fn, false);
		else if (element.attachEvent)
			element.attachEvent('on' + event, fn);
	}

	+function(){

    jQuery.fn.toggleVisibility = function() {
      if ( $(this).css('visibility') == 'hidden' )
        $(this).css('visibility','visible');
      else
        $(this).css('visibility','hidden');
    }

		addEvent(window, 'load', function(){
			$("input.search-location").geocomplete({
				map: "#geomap",
				details: ".details-list",
        location: "NYC"
      }).bind("geocode:result", function(event, result){
        console.log(result);
      });
    });

    function hideSubcontainers () {
      $('.location-picker-container').css('visibility','hidden');
      $('.date-picker-container').hide()
    }

    hideSubcontainers();

    $(".calendar-btn").click(function() {
      $('.location-picker-container').css('visibility','hidden');
      $(".date-picker-container").toggle()
    })
    $(".location-btn").click(function() {
      $('.date-picker-container').hide()
      $(".location-picker-container").toggleVisibility()
    })
  }()
</script>