<h1>Editing non_recurring_hour</h1>

<%= render 'form' %>

<%= link_to 'Show', instructor_non_recurring_hour_path(@instructor, @non_recurring_hour) %> |
<%= link_to 'Back', instructor_non_recurring_hours_path(@instructor) %>
