/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-datetimepicker.min
 *= require pickdate/default
 *= require pickdate/default.date
 *= require pickdate/default.time
 *= require font-awesome
 *= require bootstrap-select/bootstrap-select
 *= require rails_bootstrap_forms
 *= require bootstrap-multiselect
 */

@import "font-awesome";

body {
	font-family: Helvectica, Arial, sans-serif
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),a
}

.top {
	position: absolute;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	z-index: 100;
	height: auto;
	display:none;

	.alert {
		padding: 0;
		margin-top: -10px;

	}
}

.footer-container {
	.list-layout {
		list-style: none;
    margin: 0;
    padding: 0;
	}

}

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 30px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.edit-student-form {
	margin-top: 30px;
}

.all-styles-table {
  td {
    .btn-default {
      display: none
    }
  }
}

.pagination {
  li {
    cursor: pointer;
    a {
      text-decoration: none;
    }
  }
}