// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.splitter{
  margin-top: 10px;
  margin-bottom: 10px
}

label {
 width: 50px;
}

@mixin pull-checkbox {
  position: relative;
  left: 280px;
  z-index: 100;
}

.make-recurring {
  @include pull-checkbox;
  top: -35px;
}

.make-whole-day {
  position: relative;
  top: -15px;
  left: 280px;
  z-index: 100;
  margin-bottom: 9px;
}

.make-whole-day-2 {
  @extend .make-whole-day;
}

.pull-into-place {
  width:222px !important;
  position: relative;top: -20px;left: 53px;
}

.pull-label {
  position:relative;top:15px
}

.btn-link {
  color: black !important
}

.form-wrapper {
  padding-top: 20px;
}

.enable {
    @include pull-checkbox;
    top: -55px;
}

.add-exception {
  display: inline-block;
  cursor: pointer;
  padding-bottom: 10px;
}

.remove-exception {
  position: relative;
  left: 290px;
  z-index: 100;
  top: -48px;
}
.exception-boxes{
  display: none;
}
.exception-box{
  height: 50px;
}

#calendar {
  padding-bottom: 20px;
}

.certificates-table, .styles-table {
  margin-bottom: 5px !important;
}

.instructor-container{

  .address-field {
    min-height:492px;
  }

}

