// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo img {
	.wide-image {
		width: 100%;
		fill-opacity: 0.0;
	}
}

nav {
	padding-top: 10px;
	.logo, .browse, .searchbox, .teacher-access {
		position: relative;
		top: 10px;
	}
}

.searchbox {
	input.search-query {
		padding-left:26px;
		width: 100% !important;
	}
	form.form-search {
		position: relative;
	}
	form.form-search:before {
		display: block;
		width: 14px;
		height: 14px;
		content: "\e003";
		font-family: 'Glyphicons Halflings';
		background-position: -48px 0;
		position: absolute;
		top:8px;
		left:8px;
		opacity: .5;
		z-index: 1000;
	}
}

.no-padding {
 padding: 0 !important;
 margin: 0 !important;
}

main {

  body {
    padding: 70px 0px;
  }

  .fa.pull-right {
    margin-left: 0.1em;
  }

  .date-picker-container {
    height: 0px;
    display: block;
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
  }

  .date-picker,
  .date-container {
    position: relative;
    display: inline-block;
    width: 100%;
    color: rgb(75, 77, 78);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .date-container {
    padding: 0px 40px;
    position: absolute;
    opacity: 0.5;
    z-index: 999
  }
  .date-picker h2, .date-picker h4 {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
  }
  .date-container .date {
    text-align: center;
  }
  .date-picker span.fa {
    position: absolute;
    font-size: 4em;
    font-weight: 100;
    padding: 8px 0px 7px;
    cursor: pointer;
    top: 0px;
  }
  .date-picker span.fa[data-type="subtract"] {
    left: 0px;
  }
  .date-picker span.fa[data-type="add"] {
    right: 0px;
  }
  .date-picker span[data-toggle="calendar"] {
    display: block;
    position: absolute;
    top: -7px;
    right: 45px;
    font-size: 1em !important;
    cursor: pointer;
  }

  .date-picker .input-datepicker {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    width:100%;
  }
  .date-picker .input-datepicker.show-input {
    display: table;
  }

  .filter-list {
    background-color: #666;
  }

  @media (min-width: 768px) and (max-width: 1010px) {
    .date-picker h2{
      font-size: 1.5em;
      font-weight: 400;
    }
    .date-picker h4 {
      font-size: 1.1em;
    }
    .date-picker span.fa {
      font-size: 3em;
    }
  }

	.container {
		margin-left: -20px;
	}

	.welcome-title {
		font-size: 32px;
		text-align: center;
		padding-bottom: 15px;
	}
	.welcome-subtitle {
		font-size: 20px;
		text-align: center;
    padding-bottom: 10px;
	}
	.welcome-components {
		margin-top: 20px;
	}
  #geomap {
    position:absolute !important;
    z-index:1000;
    width:90% !important;
    height: 200px !important;
    opacity:0.7;
    background-color:transparent !important;
    margin-top: 5px;
  }

	.welcome-date-time {
		margin-top: 20px;
    button,span,input {
      border-radius: 0 !important;
    }
    .style-wrapper button {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
	}
	.datepicker-wrap {
		input.search-query {
			padding-left:26px;
      width: 100% !important;
		}
		form.form-search {
			position: relative;
		}
		form.form-search:before {
			display: block;
			width: 14px;
			height: 14px;
			content: "\e109";
			font-family: 'Glyphicons Halflings';
			background-position: -48px 0;
			position: absolute;
			top:8px;
			left:8px;
			opacity: .5;
			z-index: 1000;
		}
	}

	.timepicker-wrap {
		input.search-query {
			padding-left:26px;
		}
		form.form-search {
			position: relative;
		}
		form.form-search:before {
			display: block;
			width: 14px;
			height: 14px;
			content: "\f017";
			font-family: 'FontAwesome';
			background-position: -48px 0;
			position: absolute;
			top:8px;
			left:8px;
			opacity: .5;
			z-index: 1000;
		}
	}

	.timepicker, .datepicker {
		cursor: pointer !important;
		width: 100% !important;
	}

	.carousel-container {
		margin-top: 50px;
		margin-bottom: 20px;
		text-align: center;
	}

	.icon-image {
		display: none;
	}

	$ivory-color: #fffff0;

	.picker__input {
		background-color: white !important;
	}

	.welcome-components input {
		background-color: white !important;
	}

	.welcome-components button {
		background-color: white !important;
	}

	}

	.account-menu {
		position: relative;
		.pull-down {
			position:relative;
			top: 15px;
		}
		.pull-down-menu {
			z-index: 1000;
			position: absolute;
			top: 35px;
			background-color: #fff;
			border-radius: 2px;
			border: 1px solid #e8e9e7;
			padding: 5px;
			line-height: 25px;
			-webkit-background-clip: padding-box;
			-moz-background-clip: padding;
			background-clip: padding-box;
		}
		.pull-down-menu ul {
			margin-top: 5px;
			list-style-type: none;
			padding-left: 0
		}
		ul li {
			padding-right: 10px;
		}

	}

  .location-picker-container{
    z-index: -1000;
    width: 93.6%;
  }

  .sub-containers .search-location {
    width: 93.6%;
  }

  .date-picker {
    margin-top: 20px;
    width: 400px !important;
    left: 45%;
    margin-left: -200px;
  }

  .sub-containers .input-group {
    width: 200px !important;
    left: 45%;
    margin-left: -100px;
    position: absolute;
    top: 85px;
    z-index: 1000;
  }

  .calendar-toggle {
    z-index: 1000;
  }


	@mixin toggle-image {
		img.icon-image {
			display: block;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.welcome-img {
			img.wide-image {
				display: none;
			}
		}
		.language-selector {
			width: 100% !important;
		}
		.hide-phone {
			display: none
		}
		main .container {
			margin-left: 0;
		}
	}

	@media all and (max-width: 1000px) {
		.logo {
			display: none
		}

    .location-picker-container{
      width: 100%;
    }
		.dropdown button {
			width: 100%
		}
		.teacher-access a {
			width: 100%
		}
		.account-menu {
			text-align: center;
			ul {
				width: 100%;
				li {
					width: 30%;
					margin-left: 3%;
				}
			}
		}
		.pull-down-button {
			text-align: left;
		}
		@include toggle-image;
	}

	@media all and (max-width: 800px) {


    .location-picker-container{
      width: 100%;
    }

		.pull-down-button {
			height: 40px
		}
		.account-menu ul li {
			float: left
		}
		@include toggle-image;
	}

	@media all and (max-width:550px) {

    .location-picker-container{
      width: 100%;
    }

		.fa-caret-down {
			display: none !important;
		}
		@include toggle-image;
	}