// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo img {
	.wide-image {
		width: 100%;
		fill-opacity: 0.0;
	}
}

nav {
	padding-top: 10px;
	padding-bottom: 8px;
	.logo, .browse, .searchbox, .teacher-access {
		position: relative;
		top: 10px;
		padding-bottom: 10px;
	}
}

.searchbox {
	input.search-query {
		padding-left:26px;
		width: 100% !important;
	}
	form.form-search {
		position: relative;
	}
	form.form-search:before {
		display: block;
		width: 14px;
		height: 14px;
		content: "\e003";
		font-family: 'Glyphicons Halflings';
		background-position: -48px 0;
		position: absolute;
		top:8px;
		left:8px;
		opacity: .5;
		z-index: 1000;
	}
}

main {

	.container {
		margin-left: -20px;
	}

	.welcome-title {
		margin-top: 20px;
		font-size: 48px;
		text-align: center;
		padding-bottom: 15px;
	}
	.welcome-subtitle {
		font-size: 24px;
		text-align: center;
		padding-bottom: 50px;
	}
	.welcome-components {
		margin-top: 20px;
	}
	.welcome-date-time {
		margin-top: 20px;
	}
	.datepicker-wrap {
		input.search-query {
			padding-left:26px;
		}
		form.form-search {
			position: relative;
		}
		form.form-search:before {
			display: block;
			width: 14px;
			height: 14px;
			content: "\e109";
			font-family: 'Glyphicons Halflings';
			background-position: -48px 0;
			position: absolute;
			top:8px;
			left:8px;
			opacity: .5;
			z-index: 1000;
		}
	}

	.timepicker-wrap {
		input.search-query {
			padding-left:26px;
		}
		form.form-search {
			position: relative;
		}
		form.form-search:before {
			display: block;
			width: 14px;
			height: 14px;
			content: "\f017";
			font-family: 'FontAwesome';
			background-position: -48px 0;
			position: absolute;
			top:8px;
			left:8px;
			opacity: .5;
			z-index: 1000;
		}
	}

	.timepicker, .datepicker {
		cursor: pointer !important;
		width: 100% !important;
	}

	.carousel-container {
		margin-top: 50px;
		margin-bottom: 20px;
		text-align: center;
	}

	.icon-image {
		display: none;
	}

	$ivory-color: #fffff0;

	.picker__input {
		background-color: $ivory-color !important;
	}

	.welcome-components input {
		background-color: $ivory-color !important;
	}

	.welcome-components button {
		background-color: $ivory-color !important;
	}

	}

	.account-menu {
		position: relative;
		.pull-down {
			position:relative;
			top: 15px;
		}
		.pull-down-menu {
			z-index: 1000;
			position: absolute;
			top: 35px;
			background-color: #fff;
			border-radius: 2px;
			border: 1px solid #e8e9e7;
			padding: 5px;
			line-height: 25px;
			-webkit-background-clip: padding-box;
			-moz-background-clip: padding;
			background-clip: padding-box;
		}
		.pull-down-menu ul {
			margin-top: 5px;
			list-style-type: none;
			padding-left: 0
		}
		ul li {
			padding-right: 10px;
		}

	}

	@mixin toggle-image {
		img.icon-image {
			display: block;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.welcome-img {
			img.wide-image {
				display: none;
			}
		}
		.language-selector {
			width: 100% !important;
		}
		.hide-phone {
			display: none
		}
		main .container {
			margin-left: 0;
		}
	}

	@media all and (max-width: 1000px) {
		.logo {
			display: none
		}
		.dropdown button {
			width: 100%
		}
		.teacher-access a {
			width: 100%
		}
		.account-menu {
			text-align: center;
			ul {
				width: 100%;
				li {
					width: 30%;
					margin-left: 3%;
				}
			}
		}
		.pull-down-button {
			text-align: left;
		}
		@include toggle-image;
	}

	@media all and (max-width: 800px) {
		.pull-down-button {
			height: 40px
		}
		.account-menu ul li {
			float: left
		}
		@include toggle-image;
	}

	@media all and (max-width:550px) {
		.fa-caret-down {
			display: none !important;
		}
		@include toggle-image;
	}